<div>
  <div>
    <form [formGroup]="usuarioForm" (ngSubmit)="guardar()">
      <label for="nombre">Nombre</label>
      <input
        formControlName="nombre"
        type="text"
        name="nombre"
      />
      <div style="color: red" *ngIf="hasErrors('nombre', 'required')"
      >
        Campo obligatorio
      </div>
      <br />
      <label for="apellido">Apellido</label>
      <input
        type="text"
        name="apellido"
        id="apellido"
        formControlName="apellido"
      />
      <div style="color: red" *ngIf="hasErrors('apellido', 'required')"
      >
        Campo obligatorio
      </div>
      <!-- <button type="button" (click)="guardar()">Actualizar</button> -->
      <button type="submit" [disabled]="!usuarioForm.valid">Guardar</button>
    </form>
    <!-- <span> {{ usuario.nombre }}</span
    ><span> {{ usuario.apellido }}</span> -->
  </div>
  <br />
  <!-- <label for="apellido">Apellido</label>

  <select [(ngModel)]="usuario.apellido" name="apellido" id="apellido">
    <option *ngFor="let apellido of apellidos">{{ apellido }}</option>
  </select> -->
</div>
